body {
  display: flex;
  height: 100vh;
  width: 100%;
}

iframe {
  border: none;
  margin: 1rem;
}

#pulse {
  flex: 2;
}

#todoist {
  flex: 1;
}

@media screen and (max-width: 960px) {
  iframe {
    flex: 1;
  }
}